In [2]:
import numpy as np
import pandas as pd

input_file = "kc_house_data.csv"
df = pd.read_csv(input_file)

ModuleNotFoundError: No module named 'numpy'

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [ ]:
corr_matrix=df.corr()

In [ ]:
corr_matrix["price"].sort_values(ascending=False)

price            1.000000
sqft_living      0.702035
grade            0.667434
sqft_above       0.605567
sqft_living15    0.585379
bathrooms        0.525138
view             0.397293
sqft_basement    0.323816
bedrooms         0.308350
lat              0.307003
waterfront       0.266369
floors           0.256794
yr_renovated     0.126434
sqft_lot         0.089661
sqft_lot15       0.082447
yr_built         0.054012
condition        0.036362
long             0.021626
id              -0.016762
zipcode         -0.053203
Name: price, dtype: float64

In [ ]:
df['total_rooms'] = df['bedrooms'] + df['bathrooms']
df['sqft_total_size'] = df['sqft_above'] + df['sqft_basement']
df['yard'] = df['sqft_lot']-df['sqft_above']
df['b'] = df["sqft_living"] / df['sqft_living15']
df['c'] = df['sqft_lot'] / df['sqft_lot15']
df['d'] = df['grade'] + df['condition']
df["e"] = df["sqft_living"] + df["sqft_living15"]
df["f"] = df["sqft_lot"] + df["sqft_lot15"]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 29 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               21613 non-null  int64
 1   date             21613 non-null  object
 2   price            21613 non-null  float64
 3   bedrooms         21613 non-null  int64
 4   bathrooms        21613 non-null  float64
 5   sqft_living      21613 non-null  int64
 6   sqft_lot         21613 non-null  int64
 7   floors           21613 non-null  float64
 8   waterfront       21613 non-null  int64
 9   view             21613 non-null  int64
 10  condition        21613 non-null  int64
 11  grade            21613 non-null  int64
 12  sqft_above       21613 non-null  int64
 13  sqft_basement    21613 non-null  int64
 14  yr_built         21613 non-null  int64
 15  yr_renovated     21613 non-null  int64
 16  zipcode          21613 non-null  int64
 17  lat              21613 non-null  float64
 18  long             21613 non-null  float64
 19  sqft_living15    21613 non-null  int64
 20  sqft_lot15       21613 non-null  int64
 21  total_rooms      21613 non-null  float64
 22  sqft_total_size  21613 non-null  int64
 23  per_price        21613 non-null  float64
 24  yard             21613 non-null  int64
 25  a                21613 non-null  int64
 26  b                21613 non-null  float64
 27  c                21613 non-null  float64
 28  d                21613 non-null  int64
dtypes: float64(9), int64(19), object(1)
memory usage: 4.8+ MB

In [ ]:
corr_matrix=df.corr()

In [ ]:
corr_matrix["price"].sort_values(ascending=False)

price              1.000000
sqft_living        0.702035
sqft_total_size    0.702035
grade              0.667434
d                  0.642192
sqft_above         0.605567
sqft_living15      0.585379
per_price          0.554703
bathrooms          0.525138
total_rooms        0.466319
view               0.397293
sqft_basement      0.323816
bedrooms           0.308350
lat                0.307003
b                  0.302192
waterfront         0.266369
floors             0.256794
yr_renovated       0.126434
sqft_lot           0.089661
sqft_lot15         0.082447
yard               0.077825
a                  0.055248
yr_built           0.054012
c                  0.041843
condition          0.036362
long               0.021626
id                -0.016762
zipcode           -0.053203
Name: price, dtype: float64

In [ ]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15', 'total_rooms',
       'sqft_total_size', 'per_price', 'yard', 'a', 'b', 'c', 'd'],
      dtype='object')

In [ ]:
housing_prepared = df.drop((["price","date","id","zipcode"]),axis=1)
housing_labels = df["price"].copy()

In [ ]:
def display_scores(scores):
    print("Scores:", scores)
    print("Mean:", scores.mean())
    print("Standard deviation:", scores.std())

In [ ]:
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression

lin_reg = LinearRegression()
lin_scores = cross_val_score(lin_reg, housing_prepared, housing_labels, scoring="neg_mean_squared_error", cv=10)

lin_rmse_scores = np.sqrt(-lin_scores)
display_scores(lin_rmse_scores)

Scores: [134795.48928509 139612.14817018 110996.20766014 142083.54548969
 117947.63368353 115485.82883792 109905.44483866 113278.8702499
 120042.57448705 118538.17953529]
Mean: 122268.59222374535
Standard deviation: 11378.186672800623